/**
 * Footer Section Block Styles
 */

.footer-section-block .footer-wrapper,
.footer-wrapper {
  background-color: #0960a8;
  position: relative;
}

.footer-section-block .footer-wrapper .footer-container-shape-1,
.footer-wrapper .footer-container-shape-1 {
  position: absolute;
  z-index: 10;
}

.footer-section-block .footer-wrapper .footer-container-shape-2,
.footer-wrapper .footer-container-shape-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.footer-section-block .footer-wrapper .footer-container,
.footer-wrapper .footer-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-section-block .footer-wrapper .footer-container .footer-main,
.footer-wrapper .footer-container .footer-main {
  background: #0960a8;
  padding: 60px 0;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols,
.footer-wrapper .footer-container .footer-main .footer-cols {
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 80px;
  max-width: 1140px;
  margin: 0 auto;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col1,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    140deg,
    #1375c6 0%,
    #0960a8 15%,
    #0960a8 50%,
    #0960a8 83%,
    #1375c6 100%
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  border-radius: 10px;
  padding: 20px;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-logo,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-logo {
  width: 210px;
  margin-bottom: 20px;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-logo .footer-logo-img,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-logo .footer-logo-img {
  width: 100%;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-txt .footer-heading-txt,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-txt .footer-heading-txt {
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
  width: 300px;
  margin-bottom: 47px;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-txt .bookmeeting,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-txt .bookmeeting {
  cursor: pointer;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-txt .bookmeeting .footer-btn,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-txt .bookmeeting .footer-btn {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
  background: transparent;
  border: 1px solid;
  padding: 15px 35px;
  margin-bottom: 47px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-txt .bookmeeting .footer-btn:hover,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col1 .footer-txt .bookmeeting .footer-btn:hover {
  scale: 0.9;
  transition: all 0.3s ease-in-out;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col2,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 {
  width: 100%;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols .footer-navigation-links-company,
.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols .footer-navigation-links-services,
.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols .footer-navigation-links-useful-links,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols .footer-navigation-links-company,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols .footer-navigation-links-services,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols .footer-navigation-links-useful-links,
.footer-section-block .footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols .footer-navigation-links,
.footer-wrapper .footer-container .footer-main .footer-cols .footer-col2 .footer-col2-cols .footer-navigation-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-section-block .footer-wrapper .footer-container .footer-main .copyrigth-txt-section,
.footer-wrapper .footer-container .footer-main .copyrigth-txt-section {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}

.footer-section-block #footer-call,
#footer-call {
  display: none;
}

.footer-section-block #footer-call-desk,
#footer-call-desk {
  display: block;
}
