.process-cards-section-section {
  display: flex;
  flex-direction: column;
  padding: 80px 10px;
  background-color: #f4f7fa;
}

.process-cards-section-container {
  max-width: 1220px;
  margin: 0 auto;
}

.process-cards-section-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: #112446;
}

.process-cards-section-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #313f58;
}

.process-cards-section-weeks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.process-cards-section-week {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 10px;
  flex: 1 1 300px;
}

.process-cards-section-week-title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #112446;
}

.process-cards-section-week-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #313f58;
}

.process-cards-section-week-checklist {
  display: flex;
  align-items: center;
  gap: 10px;
}

.process-cards-section-week-check-icon {
  width: 15px;
  height: 15px;
}

.process-cards-section-week-check-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #112446;
}

.process-cards-section-final {
  text-align: center;
  margin-top: 40px;
}

.process-cards-section-final-title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #112446;
}

.process-cards-section-final-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #313f58;
}

.process-cards-section-final-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #13367d;
  border-radius: 6px;
  padding: 10px;
}

.process-cards-section-final-action-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
}