/* ===== Shopify Why Choose Section ===== */
.shopify-why-choose-section {
  background: #0960A8;
  padding: 60px 20px;
  color: #fff;
}


.shopify-why-choose-section .container {
  max-width: 1240px;
  margin: 0 auto;
}

.shopify-why-choose-section .title {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 54px;
  margin: 0 0 8px;
}

.shopify-why-choose-section .description {
  margin: 0 0 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
}

.shopify-why-choose-section .grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}

.shopify-why-choose-section .item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 0 40px 50px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.50);
  border-right: 0.5px solid rgba(255, 255, 255, 0.50);
  box-sizing: border-box;
}

.shopify-why-choose-section .item:nth-child(3n) {
  border-right: none;
}

.shopify-why-choose-section .item:nth-last-child(-n + 3) {
  border-bottom: none;
}

.shopify-why-choose-section .icon img {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.shopify-why-choose-section .item-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.shopify-why-choose-section .item-title {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 146.667% */
}

.shopify-why-choose-section .item-desc {
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

@media (max-width: 768px) {

  .shopify-why-choose-section {
    padding: 60px 20px;
  }

  .shopify-why-choose-section .title {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
  }

  .shopify-why-choose-section .description {
    font-size: 18px;
    margin-bottom: 28px;
  }

  .shopify-why-choose-section .grid {
    grid-template-columns: 1fr;
  }

  .shopify-why-choose-section .item {
    border-right: none;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.50);
    padding: 25px;
  }

  .shopify-why-choose-section .item:last-child {
    border-bottom: none;
  }

  .shopify-why-choose-section .item-title {
    font-size: 24px;
    line-height: 32px;
    /* 150% */
  }

  .shopify-why-choose-section .icon img {
    width: 50px;
    height: 50px;
  }

  .shopify-why-choose-section .item:nth-last-child(-n + 3) {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.50);
  }
}