.features-section-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 80px 10px;
  align-items: center;
  background-color: #0960a8;
}

.features-section-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.features-section-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.features-section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.features-section-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}

.features-section-card-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #0960a8;
}

.features-section-card-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #000;
}

@media (max-width: 1024px) {
  .features-section-card {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .features-section-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}