/* ===== Global Utility ===== */
.proven-results-section .container {
  max-width: 1240px;
  margin: 0 auto;
}

/* ===== Proven Results Section ===== */
.proven-results-section {
  background: #FFFFFF;
  padding: 60px 20px;
}

.proven-results-section .title {
  color: #112446;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 54px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 40px;
}

.proven-results-section .grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 606px));
  gap: 30px;
  align-items: start;
  justify-content: center;
}

.proven-results-section .col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.proven-results-section .col.col-right {
  height: 100%;
  display: grid;
}

.proven-results-section .col.col-right .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  padding: 30px 28px;
}

.proven-results-section .card {
  border-radius: 10px;
  background: #F4F7FA;
  overflow: hidden;
}

.proven-results-section .card.card--video {
  padding: 28px;
}

.proven-results-section .card .card-body {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.proven-results-section .video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  border-radius: 12px;
  overflow: hidden;
}

.proven-results-section .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.proven-results-section .quote-icon img {
  width: 26px;
  height: 20px;
  margin-bottom: 10px;
}

.proven-results-section .quote-text {
  color: #313F58;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.proven-results-section .attribution {
  display: flex;
  align-items: center;
  gap: 10px;
}

.proven-results-section .card .card-body .attribution {
  flex-direction: column;
  align-items: start;
  gap: 0;
}

.proven-results-section .attribution .logo {
  width: 100%;
  max-width: 100px;
  height: 56px;
}

.proven-results-section .attribution-text {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.proven-results-section .author-name {
  color: #112446;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.proven-results-section .author-title {
  color: #313F58;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

.proven-results-section .attribution.attribution--no-logo .author-title {
  margin-top: 5px;
}

/* ===== Responsive ===== */
@media (max-width: 1200px) {
  .proven-results-section .card {
    padding: 26px 20px 26px 20px !important;
  }
}

@media (max-width: 768px) {
  .proven-results-section .title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
  }

  .proven-results-section .grid {
    grid-template-columns: 1fr;
  }

  .proven-results-section .quote-text {
    font-size: 16px;
    line-height: 26px;
  }

  .proven-results-section .quote-text.quote-text--large {
    line-height: 24px;
  }

  .proven-results-section .author-name {
    font-size: 16px;
    line-height: 24px;
  }

}