.page-id-11514 .page-header .entry-title {
  display: none;
}

/* ===== Global Utility ===== */
.banner-experimentation-section .container {
  max-width: 1240px;
  margin: 0 auto;
}

/* ===== Section Styles ===== */
.banner-experimentation-section {
  background: linear-gradient(180deg, #FFF 0%, #DFEEF7 87.89%);
  padding: 92px 16px 66px 16px;
}

.banner-experimentation-section .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}

/* ===== Left Content ===== */
.banner-experimentation-section .content {
  width: 50%;
}

.banner-experimentation-section .content .eyebrow {
  color: #313F58;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 7px;
}

.banner-experimentation-section .content .title {
  color: #112446;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
}

.banner-experimentation-section .content .description {
  color: #313F58;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.banner-experimentation-section .content .points {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner-experimentation-section .content .points li {
  position: relative;
  padding-left: 22px;
  color: #313F58;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.banner-experimentation-section .content .points li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  background-image: url("https://brillmarkstg.wpengine.com/wp-content/uploads/2026/02/Frame-10.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-experimentation-section .content .btn {
  color: #FFF;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 13px 19.188px 15px 33px;
  border-radius: 6px;
  background: #13367D;
  max-width: 363.188px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.banner-experimentation-section .content .btn:hover {
  background: #0960A8 !important;
}

/* ===== Right Media ===== */
.banner-experimentation-section .media {
  width: 50%;
  text-align: center;
}

.banner-experimentation-section .media .video {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
}

.banner-experimentation-section .media .video img {
  width: 100%;
  display: block;
}

.banner-experimentation-section .media .quote {
  color: #112446;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 5px;
}

.banner-experimentation-section .media .author {
  color: #112446;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* ===== Video Wrapper ===== */
.banner-experimentation-section .media .video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 15px;
}

.banner-experimentation-section .media .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {

  .banner-experimentation-section .content,
  .banner-experimentation-section .media {
    width: 100%;
    text-align: left;
  }

  .banner-experimentation-section .content .btn {
    text-align: center;
    padding: 14.2px 10.181px 13.8px 10px;
  }

  .banner-experimentation-section {
    padding: 54px 20px 53px 20px;
  }

  .banner-experimentation-section .content .title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .banner-experimentation-section .content .description {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .banner-experimentation-section .content .points li {
    font-size: 16px;
    line-height: 24px;
  }

  .banner-experimentation-section .wrapper {
    flex-direction: column;
    gap: 60px;
  }

  .banner-experimentation-section .media {
    text-align: center !important;
  }

  .banner-experimentation-section .media .quote {
    font-size: 18px;
    line-height: 28px;
  }

  .banner-experimentation-section .media .author {
    font-size: 16px;
    line-height: 24px;
  }

  .banner-experimentation-section .tools__list {
    margin-top: 36px;
  }
}


/* ===== Tools Section ===== */
.banner-experimentation-section .banner-experimentation-tools {
  padding: 32px 0;
  background-color: #ffffff;
}

/* ===== Logo List ===== */
.banner-experimentation-section .tools__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 62px;
}

.banner-experimentation-section .tools__list .logo {
  width: 100%;
  max-width: 120px;
  height: auto;
}

.banner-experimentation-section .tools__list .logo:nth-child(4) {
  width: 87px;
  height: 29px;
}

.banner-experimentation-section .tools__list .logo img {
  max-height: 40px;
  width: auto;
  display: block;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.banner-experimentation-section .tools__list .logo img:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .banner-experimentation-section .tools__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    display: grid;
    place-items: center;
  }

  .banner-experimentation-section .tools__list .logo img {
    max-height: 32px;
  }
}

@media (max-width: 480px) {
  .banner-experimentation-section .tools__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    place-items: center;
  }
}


/* globle css............. */


/* video-testimonial-section......... */
.page-id-11514 .video-testimonial-section .video-testimonial-title {
  font-size: 40px;
  line-height: 54px;
}

.page-id-11514 .video-testimonial-section .testimonial-card {
  padding: 18px;
}

.page-id-11514 .video-testimonial-section .testimonial-quote {
  color: #313F58;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.page-id-11514 .video-testimonial-section .author-name {
  font-size: 18px;
  line-height: 28px;
  color: #112446;
}

.page-id-11514 .video-testimonial-section .author-title {
  color: #313F58;
}

@media(max-width:768px) {
  .page-id-11514 .video-testimonial-section {
    padding: 50px 20px;
  }

  .page-id-11514 .video-testimonial-section .video-testimonial-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }

  .page-id-11514 .video-testimonial-section .video-testimonial-content {
    gap: 30px;
  }

  .page-id-11514 .video-testimonial-section .author-name {
    font-size: 16px;
    line-height: 24px;
  }

}

@media(max-width:768px) {
  .page-id-11514 .video-testimonial-section .testimonial-card {
    padding: 15px;
  }

  .page-id-11514 .video-testimonial-section .container {
    padding: 0;
  }

  .page-id-11514 .video-testimonial-section .author-title {
    font-size: 14px;
    line-height: 22px;
  }
}

/* ready-section-section */

.page-id-11514 .ready-section-section .ready-section-title {
  font-size: 44px;
  line-height: 56px;
}

.page-id-11514 .ready-section-section .ready-section-description {
  line-height: 28px;
  max-width: 100%;
}

.page-id-11514 .ready-section-section .ready-section-content {
  max-width: 996px;
  margin: auto;
}

.page-id-11514 .ready-section-section .ready-section-stat-number {
  font-size: 40px;
  line-height: 54px;
}

.page-id-11514 .ready-section-section .ready-section-stat-label {
  font-size: 20px;
  line-height: 30px;
}

@media(max-width:768px) {
  .page-id-11514 .ready-section-section {
    padding: 50px 20px;
  }
}

@media(max-width:768px) {
  .page-id-11514 .ready-section-section {
    padding: 50px 10px;
  }

  .page-id-11514 .ready-section-section .ready-section-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
  }

  .page-id-11514 .ready-section-section .ready-section-description {
    line-height: 28px;
  }

  .page-id-11514 .ready-section-section .ready-section-stats {
    gap: 30px;
  }

  .page-id-11514 .ready-section-section .ready-section-stat-number {
    font-size: 30px;
    line-height: 40px;
  }

  .page-id-11514 .ready-section-section .ready-section-stat-item {
    gap: 13px;
  }

  .page-id-11514 .ready-section-section .ready-section-stat-label {
    font-size: 20px;
    line-height: 30px;
  }
}

/* flexible-modal-section-section........... */
.page-id-11514 .flexible-modal-section-section {
  background: rgba(255, 255, 255, 0.40);
}

.page-id-11514 .flexible-modal-section-section .flexible-card {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #F4F7FA;
}

.page-id-11514 .flexible-modal-section-section .flexible-feature-text {
  line-height: 24px;
  font-weight: 400;
}

.page-id-11514 .flexible-modal-section-section .flexible-feature-icon {
  width: 15px;
  height: 15px;
  background-size: 15px;
}

@media(max-width:768px) {
  .page-id-11514 .flexible-modal-section-section .flexible-card-btn {
    height: 50px;
  }

  .page-id-11514 .flexible-modal-section-section .flexible-modal-title {
    font-weight: 400;
  }

  .page-id-11514 .flexible-modal-section-section {
    padding: 50px 20px;
  }

  .page-id-11514 .flexible-modal-section-section .container {
    padding: 0;
  }
}

/* contact-section-section------------ */
.page-id-11514 .contact-section-section .contact-section-title {
  font-size: 40px;
}

.page-id-11514 .contact-section-section .contact-section-tick-icon {
  width: 15px;
  height: 15px;
}

.page-id-11514 .bm-form .submit-btn {
  margin-bottom: 18px;
}

.page-id-11514 p.form-main-heading {
  font-size: 20px;
  line-height: 30px;
}

.page-id-11514 .contact-section-section .contact-section-email-button,
.page-id-11514 .contact-section-section .submit-btn input {
  height: 50px;
}

.page-id-11514 .bm-row.consent-text .form-group .privacy-policy-text {
  line-height: 22px;
  color: #112446;
}

.page-id-11514 .contact-section-section .note-heading {
  color: #112446;
  font-size: 16px;
  line-height: 24px;
}

.page-id-11514 .contact-section-section .note-para {
  color: #313F58;
  font-size: 14px;
  line-height: 22px;
}

@media(max-width:768px) {
  .page-id-11514 .contact-section-section {
    padding: 50px 20px !important;
  }

  .page-id-11514 .contact-section-section .contact-section-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }

  .page-id-11514 .contact-section-section .contact-section-description {
    text-align: center;
  }

  .page-id-11514 .contact-section-section .note-heading {
    font-size: 15px;
  }
}


/* about-us======================================= */
.about-us.banner-experimentation-section .description {
  margin-bottom: 40px;
}