/* ===== Migration Process Section ===== */
.migration-process-section .container {
  max-width: 1240px;
  margin: 0 auto;
}

.migration-process-section {
  background: #F4F7FA;
  padding: 60px 20px;
}

.migration-process-section .header {
  text-align: center;
  max-width: 967px;
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}

.migration-process-section .header .title {
  color: #112446;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 54px;
  margin: 0;
  margin-bottom: 10px;

}

.migration-process-section .header .description {
  color: #313F58;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;

}

.migration-process-section .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 20px;
}

.migration-process-section .card {
  border-radius: 6px;
  background: #FFF;
  padding: 50px;
}

.migration-process-section .card .week-label {
  display: inline-block;
  color: #FFF;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 4px 15px;
  border-radius: 17px;
  background: #0960A8;
  margin-bottom: 12px;
}

.migration-process-section .card .title {
  color: #112446;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 10px;
}

.migration-process-section .card .card-desc {
  color: #313F58;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}

.migration-process-section .card .checklist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.migration-process-section .card .checklist li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  color: #112446;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.migration-process-section .card .checklist li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 14.991px;
  border-radius: 50%;
  background-image: url("https://brillmarkstg.wpengine.com/wp-content/uploads/2026/02/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.migration-process-section .cta {
  border-radius: 6px;
  background: #DAEEF8;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.migration-process-section .cta .cta-title {
  color: #112446;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 10px;
}

.migration-process-section .cta .cta-text {
  color: #112446;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 20px;
}

.migration-process-section .cta .btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: #13367D;
  color: #FFF;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 20px;
  text-decoration: none;
}

.migration-process-section .cta .btn .btn-arrow {
  display: inline-flex;
}

.migration-process-section .cta .btn .btn-arrow svg {
  display: block;
}

@media (max-width: 768px) {
  .migration-process-section .header .title {
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }

  .migration-process-section .grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .migration-process-section .card {
    padding: 45px;
  }

  .migration-process-section .card .title {
    font-size: 16px;
  }

  .migration-process-section .cta {
    padding: 45px;
  }

  .migration-process-section .card .week-label {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .migration-process-section .grid {
    grid-template-columns: 1fr;
  }
}